<!DOCTYPE html>
<html>
<head>
  <title>LinkShortnerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a><%= "Logged in as #{current_user.email}" if current_user %></a></li>
        </ul>
    </div>
  </nav>

  <div class="container">
    <% if flash[:success].present? %>
      <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error].present? %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:notice].present? %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
